apiVersion: apps/v1
kind: Deployment
metadata:
  name: __APP_NAME__
  labels:
    app.kubernetes.io/name: __APP_NAME__
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: __APP_NAME__
  template:
    metadata:
      labels:
        app.kubernetes.io/name: __APP_NAME__
    spec:
      containers:
        - name: __APP_NAME__
          image: __IMAGE_REFERENCE__
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: __CONTAINER_PORT__